<div id="container">
	<h1>
		You are currently enrolled in (4) classes.
	</h1>

<table class="table table-hover">
	<caption>Classes</caption>
	<thead>
		<tr>
			<td>Class</td> 
			<td>Professor</td>
			<td>Class Time</td>
			<td>Room</td>
		</tr>
	</thead>
	<tbody>
		<tr class="success">
			<td><%= link_to('OMIS 5110', root_url) %> </td>
			<td><a href="mailto:HCohen@schulich.yorku.ca">Hila Cohen </a></td>
			<td>2:30 - 5:30, Th</td>
			<td>SSB 115</td>
		</tr>
		<tr>
			<td>MGMT 5150</td>
			<td>Theo Tolias</td>
			<td>8:30 - 11:30, T</td>
			<td>SSB 666</td>
		</tr>
		<tr>
			<td>ECON 5100</td>
			<td>David Barrows</td>
			<td>8:30 - 11:30, Th</td>
			<td>SSB 232</td>
		</tr>
		<tr>
			<td>ACTG 5100</td>
			<td>Jeff Everett</td>
			<td>6:30 - 9:30, T</td>
			<td>SSB E115</td>
		</tr>
	</tbody>
</table>

</div>