<div id="container">
	<h1>Welcome, <%=@zack.name %></h1>
	<%= image_tag avatar_url(@zack, 200) %>

	<div
</div>

<div id="feed">
	
<h2>In the News</h2>
<script type="text/javascript">
// set up variables that customize the display
var wpr_header_name     = 'In the News | Schulich News | Email'
var wpr_total_font      = 'size="2" face="Verdana" color="666666"';
var wpr_total_font_desc = 'size="1" face="Verdana" color="666666"';
var wpr_total_number    = 7;
var wpr_odd_row_color   = 'e2dec2';
var wpr_even_row_color  = 'ffffff';
var wpr_open_in_blank   = true;
var wpr_table_width     = '100%';
</script>
<script src="http://worldpress.org/feeds/worldpresswire.js" 
type="text/javascript"></script>
</div>