<h1>Welcome to Your Integrated Schulich Passport</h1>
<br>
<br>
<h3>Please Login</h3>


<div id="login-form">

	<div class="input-group input-group-lg">
	  <span class="input-group-addon"></span>
	  <input type="text" class="form-control" placeholder="Username">
	</div>

	<div class="input-group input-group-lg">
	  <span class="input-group-addon"></span>
	  <input type="text" class="form-control" placeholder="Password">
	</div>
	<div class="remember checkbox">
          <label><input type="checkbox"> Remember me</label>
  </div>
	
	<br>
	<button type="button" class="btn btn-primary">
  	Submit
	</button>

</div>