// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
	display: block;
	margin: 0 auto;
	margin-top: 2%;
}

#feed {
	width: 100%;
	border-top: 2px solid gray;
	margin-top: 5%;
}