// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.container {
	height: 800px;
}

img {
	display: block;
	margin: 0 auto;
	margin-top: 2%;
	z-index: 1;
	display: block;
}

#feed {
	width: 100%;
	border-top: 2px solid gray;
	margin-top: 5%;
}

.date {
	display: block;
	height: 230px;
	margin: 0 auto;
	width: 250px;
	border: none;
	z-index: 0;
}